@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading {
    @apply text-sm md:text-base text-gray-500 mb-2 font-medium;
  }
  .companyDetail {
    @apply text-sm mb-1 text-gray-500 tracking-wide;
  }
  .followBtn {
    @apply text-[#003788] bg-[#e0ebf9d8] text-xs px-2 py-1 border-[#003788] rounded-md;
  }
  .deleteBtn {
    @apply px-2 md:px-7 py-2 border rounded-lg border-[#dc4a2d] text-[#dc4a2d] bg-[#FEF4F2] tracking-wider text-base shadow-md font-semibold;
  }
  .editBtn {
    @apply px-2 md:px-7 py-2 shadow-inner drop-shadow-md rounded-lg bg-[#dc4a2d] text-white border text-base md:font-semibold;
  }
  .jobActionBase {
    @apply flex py-4 border-b justify-between pr-2;
  }
  .jobActionMetric {
    @apply text-base md:text-lg text-gray-500 font-semibold tracking-wider;
  }
  .jobList {
    @apply list-disc px-8 text-[#3D3D3D] text-sm md:text-base  tracking-wide mt-1;
  }
  .jobTitle {
    @apply text-lg md:text-3xl font-black text-[#3d3d3d] tracking-wide;
  }
  .jobStatusBase {
    @apply flex items-center justify-center gap-0.5 border px-1 py-0.5 rounded-full bg-green-400/20 border-green-500/30;
  }
  .jobLocationParent {
    @apply flex gap-4 items-center text-gray-500 text-sm md:text-base;
  }
  .jobLocationAndPayBase {
    @apply flex gap-1 md:gap-2 items-center;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.active {
  color: #dc4a2d;
  position: relative;
}
@media (min-width: 768px) {
  .active::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 40px;
    border-radius: 100px;
    background: #dc4a2d;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  width: 0;
  background: transparent;
}
